BoatyMonNodeRedflows.json
[{"id":"32320700.bd631a","type":"tab","label":"MQTT","disabled":false,"info":""},{"id":"3d7fabf6.4aef24","type":"mqtt in","z":"32320700.bd631a","name":"","topic":"esp/text","qos":"1","broker":"84241e18.70328","x":110,"y":340,"wires":[["5e45383.0e3cac8"]]},{"id":"5e45383.0e3cac8","type":"function","z":"32320700.bd631a","name":"Add time to payload","func":"var today = new Date();\ntoday.setDate(today.getDate()) ;\n\n\n//('00' + date.getHours()).slice(-2)\nvar time='   ' + ('00' + today.getHours()).slice(-2) + ':' + ('00' + today.getMinutes()).slice(-2) + ':' +('00' + today.getSeconds()).slice(-2);\nmsg.payload = time + \">> \" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["28c35adb.b2d4f6"]]},{"id":"32a7d926.3bbd56","type":"mqtt out","z":"32320700.bd631a","name":"","topic":"","qos":"1","retain":"","broker":"84241e18.70328","x":410,"y":460,"wires":[]},{"id":"3462e55b.e645ca","type":"mqtt in","z":"32320700.bd631a","name":"","topic":"esp/voltage","qos":"1","broker":"84241e18.70328","x":130,"y":140,"wires":[["dc3a4138.695ca"]]},{"id":"15638c45.d758b4","type":"mqtt out","z":"32320700.bd631a","name":"","topic":"","qos":"1","retain":"","broker":"84241e18.70328","x":310,"y":40,"wires":[]},{"id":"4ec71774.55f158","type":"mqtt in","z":"32320700.bd631a","name":"","topic":"esp","qos":"2","broker":"84241e18.70328","x":390,"y":840,"wires":[["7d29c2e8.65818c"]]},{"id":"7d29c2e8.65818c","type":"debug","z":"32320700.bd631a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":580,"y":840,"wires":[]},{"id":"a1b40740.4e4768","type":"inject","z":"32320700.bd631a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"esp","payload":"1","payloadType":"str","x":130,"y":420,"wires":[["32a7d926.3bbd56"]]},{"id":"c6918f73.21d7f","type":"mqtt in","z":"32320700.bd631a","name":"","topic":"esp/volume","qos":"2","broker":"84241e18.70328","x":410,"y":880,"wires":[["7d29c2e8.65818c"]]},{"id":"3fdca5b2.50ac6a","type":"mqtt in","z":"32320700.bd631a","name":"","topic":"esp/current","qos":"1","broker":"84241e18.70328","x":130,"y":80,"wires":[["b36a8669.34f4a8"]]},{"id":"ad6d4990.d55318","type":"mqtt in","z":"32320700.bd631a","name":"","topic":"esp/pulseWidth","qos":"1","broker":"84241e18.70328","x":140,"y":200,"wires":[["1e807965.072377"]]},{"id":"36da3ff8.7b4e6","type":"mqtt in","z":"32320700.bd631a","name":"","topic":"esp/reboot","qos":"1","broker":"84241e18.70328","x":120,"y":260,"wires":[["9e64c3fd.d118f"]]},{"id":"122910f8.25367f","type":"debug","z":"32320700.bd631a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":720,"wires":[]},{"id":"9e190afe.275ca8","type":"inject","z":"32320700.bd631a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"rr","payloadType":"str","x":350,"y":720,"wires":[["7b885f4e.db2bd"]]},{"id":"70dce302.c81bbc","type":"mqtt in","z":"32320700.bd631a","name":"","topic":"esp/toFile","qos":"1","broker":"84241e18.70328","x":360,"y":760,"wires":[["e918292d.70ab08","8073c490.8657a8"]]},{"id":"e918292d.70ab08","type":"debug","z":"32320700.bd631a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":800,"wires":[]},{"id":"8073c490.8657a8","type":"file","z":"32320700.bd631a","name":"","filename":"/home/pi/contcurrent.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":570,"y":760,"wires":[[]]},{"id":"3739ef2f.d51c5","type":"mqtt in","z":"32320700.bd631a","name":"","topic":"#","qos":"1","broker":"84241e18.70328","x":530,"y":240,"wires":[["1a29812d.c4470f"]]},{"id":"1a29812d.c4470f","type":"debug","z":"32320700.bd631a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":280,"wires":[]},{"id":"c0c20af3.fd5cd8","type":"udp in","z":"32320700.bd631a","name":"","iface":"","port":"55562","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":100,"y":1040,"wires":[["4c9302cd.f8a67c","8e957263.878c5"]]},{"id":"d9bcb4f8.77ab58","type":"file","z":"32320700.bd631a","name":"","filename":"/home/pi/Logs/nodered/espErrorLog.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","x":570,"y":1100,"wires":[[]]},{"id":"f38d3fd5.f38d6","type":"exec","z":"32320700.bd631a","command":"tail -25  /home/pi/Logs/nodered/espErrorLog.txt","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":440,"y":1040,"wires":[["ed27105e.54dc9"],[],[]]},{"id":"4c9302cd.f8a67c","type":"function","z":"32320700.bd631a","name":"Add time to payload","func":"var today = new Date();\ntoday.setDate(today.getDate()) ;\n\n\n//('00' + date.getHours()).slice(-2)\nvar time='   ' + ('00' + today.getHours()).slice(-2) + ':' + ('00' + today.getMinutes()).slice(-2) + ':' +('00' + today.getSeconds()).slice(-2);\nmsg.payload = time + \">> \" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1100,"wires":[["d9bcb4f8.77ab58","d980c82d.ecb328"]]},{"id":"8e957263.878c5","type":"delay","z":"32320700.bd631a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":1000,"wires":[["f38d3fd5.f38d6"]]},{"id":"1cb49295.b7adcd","type":"comment","z":"32320700.bd631a","name":"Store & disolay UDP error messages from ESP","info":"","x":200,"y":920,"wires":[]},{"id":"8297d35c.d0707","type":"ui_button","z":"32320700.bd631a","name":"","group":"fc847a5c.8dea38","order":1,"width":"4","height":"1","passthru":false,"label":"Enable DS","tooltip":"","color":"red","bgcolor":"","icon":"","payload":"ds18b20 on","payloadType":"str","topic":"fromPiToEsp","x":130,"y":460,"wires":[["32a7d926.3bbd56"]]},{"id":"ce041ed4.6eb02","type":"ui_button","z":"32320700.bd631a","name":"","group":"fc847a5c.8dea38","order":2,"width":"4","height":"1","passthru":false,"label":"Reset ESP","color":"","bgcolor":"","icon":"settings_power","payload":"8","payloadType":"num","topic":"esp/control","x":130,"y":740,"wires":[["32a7d926.3bbd56"]]},{"id":"b1493591.6b0968","type":"ui_button","z":"32320700.bd631a","name":"","group":"fc847a5c.8dea38","order":1,"width":"4","height":"1","passthru":false,"label":"Disable DS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ds18b20 off","payloadType":"str","topic":"fromPiToEsp","x":130,"y":500,"wires":[["32a7d926.3bbd56"]]},{"id":"3cfb983d.1590f8","type":"ui_button","z":"32320700.bd631a","name":"","group":"fc847a5c.8dea38","order":1,"width":"4","height":"1","passthru":false,"label":"Serial on","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"esp/control","x":120,"y":540,"wires":[["32a7d926.3bbd56"]]},{"id":"1f0d0791.f81418","type":"ui_button","z":"32320700.bd631a","name":"","group":"fc847a5c.8dea38","order":1,"width":"4","height":"1","passthru":false,"label":"Serial Off","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"esp/control","x":120,"y":580,"wires":[["32a7d926.3bbd56"]]},{"id":"bb22188d.b741e8","type":"ui_button","z":"32320700.bd631a","name":"","group":"fc847a5c.8dea38","order":1,"width":"4","height":"1","passthru":false,"label":"Reset aH","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"num","topic":"esp/control","x":120,"y":620,"wires":[["32a7d926.3bbd56"]]},{"id":"6e5f5d58.7ac0e4","type":"ui_button","z":"32320700.bd631a","name":"","group":"fc847a5c.8dea38","order":1,"width":"4","height":"1","passthru":false,"label":"Spare","color":"","bgcolor":"","icon":"","payload":"6","payloadType":"num","topic":"esp/control","x":110,"y":660,"wires":[["32a7d926.3bbd56"]]},{"id":"62e5987.f4cc868","type":"ui_button","z":"32320700.bd631a","name":"","group":"fc847a5c.8dea38","order":1,"width":"4","height":"1","passthru":false,"label":"SendSigK on/off","color":"","bgcolor":"","icon":"","payload":"7","payloadType":"num","topic":"esp/control","x":140,"y":700,"wires":[["32a7d926.3bbd56"]]},{"id":"77a5284.1e248d8","type":"ui_button","z":"32320700.bd631a","name":"","group":"566c781.d1eff88","order":1,"width":"2","height":"1","passthru":false,"label":"Refresh","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":140,"y":960,"wires":[["f38d3fd5.f38d6"]]},{"id":"22b69c32.d81bf4","type":"ui_numeric","z":"32320700.bd631a","name":"","label":"Set load current","group":"fc847a5c.8dea38","order":0,"width":0,"height":0,"passthru":true,"topic":"esp/controlcurrent","format":"{{value}}","min":0,"max":"2000","step":"10","x":140,"y":40,"wires":[["15638c45.d758b4"]]},{"id":"7b885f4e.db2bd","type":"ui_switch","z":"32320700.bd631a","name":"","label":"Output to file","group":"fc847a5c.8dea38","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"esp/ToFile","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":510,"y":720,"wires":[["122910f8.25367f"]]},{"id":"28c35adb.b2d4f6","type":"ui_text","z":"32320700.bd631a","group":"e8c85f6a.6a1c5","order":3,"width":"6","height":"1","name":"esp/text","label":"esp Log","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":340,"wires":[]},{"id":"dc3a4138.695ca","type":"ui_text","z":"32320700.bd631a","group":"e8c85f6a.6a1c5","order":3,"width":"6","height":"1","name":"voltage","label":"Voltage","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":140,"wires":[]},{"id":"b36a8669.34f4a8","type":"ui_text","z":"32320700.bd631a","group":"e8c85f6a.6a1c5","order":3,"width":"6","height":"1","name":"current","label":"IP Address","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":80,"wires":[]},{"id":"1e807965.072377","type":"ui_text","z":"32320700.bd631a","group":"e8c85f6a.6a1c5","order":3,"width":"6","height":"1","name":"pulseWidth","label":"ESP Run Time","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":200,"wires":[]},{"id":"9e64c3fd.d118f","type":"ui_text","z":"32320700.bd631a","group":"e8c85f6a.6a1c5","order":3,"width":"6","height":"1","name":"","label":"Rebooted","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":260,"wires":[]},{"id":"8d4c15b2.ee1888","type":"ui_text","z":"32320700.bd631a","group":"e8c85f6a.6a1c5","order":3,"width":"6","height":"1","name":"","label":"test","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":240,"wires":[]},{"id":"ed27105e.54dc9","type":"ui_template","z":"32320700.bd631a","group":"566c781.d1eff88","name":"","order":2,"width":"8","height":"10","format":"<style>\n    #mylog {\n        min-height: 300px;\n        padding: 0;\n        background-color: darkgrey;\n        white-space: pre;\n    }\n</style>\n\n<div id=\"mylog\" ng-bind=\"msg.payload\" contenteditable=\"true\">\n    <!-- payload will go here -->\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":700,"y":1040,"wires":[[]]},{"id":"d980c82d.ecb328","type":"debug","z":"32320700.bd631a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","statusVal":"","statusType":"auto","x":590,"y":1200,"wires":[]},{"id":"f02c7eb4.540a7","type":"ui_button","z":"32320700.bd631a","name":"","group":"566c781.d1eff88","order":1,"width":"2","height":"1","passthru":false,"label":"Clear","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":960,"wires":[["ed27105e.54dc9"]]},{"id":"84241e18.70328","type":"mqtt-broker","z":"","name":"RPi","broker":"10.10.10.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fc847a5c.8dea38","type":"ui_group","z":0,"name":"Control","tab":"b00aa803.d62638","disp":true,"width":"4","collapse":false},{"id":"566c781.d1eff88","type":"ui_group","z":0,"name":"UDP","tab":"b00aa803.d62638","disp":true,"width":"12","collapse":false},{"id":"e8c85f6a.6a1c5","type":"ui_group","z":0,"name":"From ESP","tab":"b00aa803.d62638","disp":true,"width":"6","collapse":false},{"id":"b00aa803.d62638","type":"ui_tab","z":0,"name":"Home","icon":"dashboard","order":2}]